<template>
    <v-app id="inspire">
        <v-navigation-drawer
          v-model="drawer"
          app
          clipped
        >
          <v-list dense>
            <v-list>
              <v-list-item
               v-for="item in items"
               :key="item.text"
               link
              >
                <v-list-item-avatar>
                  <img
                   :src="`https://randomuser.me/api/portraits/men/${item.picture}.jpg`"
                    alt=""
                  >
                  </v-list-item-avatar>
                <v-list-item-title v-text="item.text" />
              </v-list-item>
            </v-list>
            
            <v-divider></v-divider>
            
            <v-list-item
             v-for="page in pages"
             :key="page.text"
             class="mt-4"
             link
            >
            <v-list-item-action>
              <v-icon color="grey darken-1" >{{ page.icon }}</v-icon>
            </v-list-item-action>
            <v-list-item-title class="grey--text text--darken-1" v-text="page.text" />
          </v-list-item>
        </v-list>
      </v-navigation-drawer>
    
    <v-app-bar
     app
     clipped-left
     color="blue-grey"
     dense
    >
    <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
    
    <v-icon class="mx-4"></v-icon>
    
    <v-toolbar-title class="mr-12 align-center">
      <span class="title">Sales Page</span>
    </v-toolbar-title>
    
    <v-spacer />
    
    <v-row
     align="center"
     style="max-width: 650px"
    >
    </v-row>
  </v-app-bar>
  <v-content>
    <v-container>
      <nuxt />
    </v-container>
  </v-content>
</v-app>
</template>

<script>
  export default {
    props: {
      source: String,
    },
    data: () => ({
      drawer: null,
      items: [
        { picture: 28, text: 'Joseph' },
      ],
      pages: [
        { text: 'Home', icon: 'mdi-home' },
        { text: 'Form', icon: 'mdi-format-align-justify' },
      ]
    }),
    created () {
      this.$vuetify.theme.dark = false
    },
  }
</script>